
{% extends "JEUPlatformBundle::layout.html.twig" %}

{% block body %}

  <h2>Connexion</h2>

<div class="well">
    <fieldset>
    <legend>Connectez-vous</legend>
    <p>
        {{ form_start(form) }}
     {{ form_widget(form) }}
     <button type="submit" > Connexion </button>
     <a href="{{ path('jeu_platform_signin') }}">Pas encore inscrit ?</a>
     {{ form_end(form) }}
    </p>
    </div>
    </body>
    </html>
</div>

  <p>
    
  </p>

{% endblock %}
