
{% extends "JEUPlatformBundle::layout.html.twig" %}

{% block body %}

  <h2>Connexion</h2>

<div class="well">
    <form method="post" action="{JEUPlatformBundle:Advert:add}">
    <fieldset>
    <legend>Connexion</legend>
    <p>
    <label for="pseudo">Pseudo :</label><input name="pseudo" type="text" id="pseudo" /><br />
    <label for="password">Mot de Passe :</label><input type="password" name="password" id="password" />
    </p>
    </fieldset>
    <p><input type="submit" value="Connexion" /></p></form>
    <a href="{{ path('jeu_platform_signin') }}">Pas encore inscrit ?</a>
     
    </div>
    </body>
    </html>
</div>

  <p>
    
  </p>

{% endblock %}
