
{% extends "JEUPlatformBundle::layout.html.twig" %}

{% block body %}

  <h2>Inscrivez-vous</h2>

<div class="well">
    <fieldset>
    <legend>Inscription</legend>
    <p>
     {{ form_start(form)}}
     {{ form_widget(form) }}
     <button type="submit"> Valider </button>
     {{ form_end(form) }}
    </p>
    
     
    </div>
    </body>
    </html>
</div>

  <p>
    
  </p>

{% endblock %}