
{% extends "JEUPlatformBundle::layout.html.twig" %}

{% block body %}

  <h2>Inscrivez-vous</h2>

<div class="well">
    <form method="post" action="{JEUPlatformBundle:Advert:connexion}">
    <fieldset>
    <legend>Inscription</legend>
    <p>
    <label for="pseudo">Pseudo :</label><input name="pseudo" type="text" id="pseudo" /><br />
    <label for="password">Mot de Passe :</label><input type="password" name="password" id="password" />
    <label for="password">Retaper Mot de Passe :</label><input type="password" name="password_2" id="password_2" />
    </p>
    </fieldset>
    <p><input type="submit" value="Inscription" /></p></form>
     
    </div>
    </body>
    </html>
</div>

  <p>
    
  </p>

{% endblock %}